@{
    ViewData["Title"] = "Home Page";
}

<style>
    .c1 {
        float: left;
        margin-left: 40px;
        margin-right: 70px;
    }

    .display-4 {
        color: #ff9f00;
        text-decoration: none;
        font-size: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-bottom: 1rem;
    }
    .welcome-list {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 2em;
    }
    
</style>

<div class="text-center welcome-page">
    <h1 class="display-4">Welcome!</h1>
    <div>
        <ul class="welcome-list">
            <li class="c1">Keep track of as many shows as you like with a fast, easy and user-friendly interface.</li>
            <li class="c1">Have total control over your movies.</li>
            <li class="c1">Have it all for free.</li>
        </ul>
    </div>
</div>
